.nosotros {
  background-color: $verde_claro;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  margin-top: 5rem;
  

}

.icono {
  height: 4rem;
  
}

.icono2 {
  height: 4rem;
}


.nosotros_individual {
  
  height: 30rem;
  margin-right: 2rem;
  margin-left: 2rem;
  padding-top: 2rem;
  h2 {
    color: $blanco;
    margin-top: 0;
    font-size: 1.8rem;
    font-weight: bold;
        
    &::after {
            content: "";
            display: block;
            width: 15rem;
            height: .5rem;
            background-color: $blanco;
            margin-top: 1rem;
            margin-left: auto;
            margin-right: auto;
     }

  }
  p {
    color: $blanco;
    font-size: 1.5rem;
    text-align: left;
  }
}


.contenedor2{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}
