.nosotros {
  background-color: $verde_claro;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  



}

.icono {
  height: 6rem;
  filter:invert(100%);
}

.icono2 {
  height: 6rem;
}


.nosotros_individual {
  
  height: 40rem;


  h2 {
    color: $blanco;
    margin-top: 0;
    
        
    &::after {
            content: "";
            display: block;
            width: 15rem;
            height: .5rem;
            background-color: $blanco;
            margin-top: 1rem;
            margin-left: auto;
            margin-right: auto;
     }

  }
  p {
    color: $blanco;
  }
}


